/* .ui-drop-hover
        {
            background-color: #FFFF55 !important;
            border: 2px solid #bbb;
        }*/
        .dragdiv
        {
            width: 180px;
            height: 700px;
            float: left;
            border: 0.5px solid #bbb;
            background-color: rgb(239, 237, 237); 

        }
        .dropdiv
        {
            width: 950px;
            height: 700px;
            background-color: #FCFCFC;
            border: 1px solid #f2f2f2;
        }
        .dropdiv li
        {
            padding-left: 10px;
        }
        .main
        {
            width: auto;
            height: auto;
            border: 1px solid #bbb;
        }
        .editing_element{
            padding: 5px;              
            margin-right: 5px;
            width: 100%;
        }
        .detail_element, .fa{
            color: #0A0A0A;
            font-size: 18px;
            margin: 5px;
            border-right: 1px solid #292929;
            border-bottom: none;
            padding-top: 4px
        }
         .text_portion{
            width: calc(100% - 10px);
            margin: 5px 5px 10px 5px;
        }

        .droparea{
            width: 416px;
            float: left
        }
